version: '3.8'
services:
  db:
    image: mysql:8.0
    container_name: chordmaster_db
    restart: unless-stopped
    env_file: .env.db
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8080:8080"

volumes:
  db_data:
